.routines {
	grid-area: main;
	width: 80%;
	justify-self: center;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	position: relative;

	& .routine {
		width: 90%;
		min-height: min-content;
		padding: 0 2rem;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		margin-bottom: 3rem;

		&__title {
			margin: 0.5rem 0;
		}

		&__info {
			display: flex;
			justify-content: center;
			margin: 0.5rem 0;
		}

		&__name {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.1rem;
		}

		&__description {
			font-weight: 600;
			letter-spacing: 0.04rem;
			text-align: center;
		}
	}

	& .activities {
		padding: 2rem;
		font-size: 1.5rem;
		width: 100%;
		height: 85%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		min-height: 10.5rem;

		&__box {
			list-style: none;
		}

		&__add {
			padding: 1rem;
			display: flex;
			justify-content: center;
			align-items: stretch;

			& input {
				height: 100%;
			}
		}

		& .open-portal {
			bottom: 0;
		}
	}

	& .activity {
		font-size: 80%;

		& > * {
			display: inline-block;
		}

		& span {
			margin: 0.5rem;
		}

		& .form-group {
			display: flex;
			align-items: center;
		}

		& .form-group .paper-check {
			display: flex;

			& input + span::before {
				vertical-align: middle;
			}

			& span {
				display: inline-block;
				margin-bottom: 0;
			}
		}

		& .paper-check input + span::before {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
