div * {
	font-size: 18px;
	margin: 5px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div {
	color: red;
}

button {
	border-radius: 100px;
	background: #ddd;
	font-size: 15px;
}

button:hover {
	cursor: pointer;
	background: #eee;
}
