.landing {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba($accent, 0.2), rgba($accent, 0.4)),
		url(../assets/pascal-debrunner-638231-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	position: relative;
	top: 25%;

	& h1 {
		text-align: center;
		margin-bottom: 2rem;
	}
}
