.nav {
	position: sticky;
	height: 5rem;
	width: 100%;
	background: var(--font-color-mid);
	display: flex;
	justify-content: space-between;

	& .logo {
		width: 5rem;
		height: 100%;
		background-image: url(../assets/sunrise.svg);
		background-repeat: no-repeat;
		margin-left: 0.5rem;
	}

	& .nav__menu,
	& .nav__pages {
		display: flex;
		align-items: center;
		list-style: none;
		font-size: 1.5rem;
	}

	& .nav__menu .nav__menu__item {
		margin: 0 2rem;
	}

	& .nav__pages .nav__pages__item {
		margin: 0 2rem;
	}
}
